// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

section.bookmark
  margin: 0.5em 0
  position: relative
  padding: 0.5em
  overflow: hidden
  background-color: #fff

  &.private
    background-color: #eee

  h3
    margin-bottom: 0.2em
    font-size: 1.4em

    a
      +link-colors($font-color)

  a.tag
    +link-colors($font-color)

  .links
    position: absolute
    bottom: 0
    right: 0
    background-color: inherit
    padding: 0.2em 0.5em 0.5em 0.5em

  .description
    p
      margin-bottom: 0.5em

  .info
    color: lighten($font-color, 30%)

form.new_bookmark, form.edit_bookmark
  @extend form.wide

section.search
  margin-bottom: 15px
  form.search_form
    input[type=text]
      width: 100%
      max-width: 150px
      +border-radius(15px)
      margin: 0
    label, button, input[type=submit]
      display: none
