// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

section.bookmark
  margin: 1em 0

  h3
    margin-bottom: 0.2em
    font-size: 1.4em
