form
  display: inline-block

  .actions
    text-align: right

  label
    display: block
    font-weight: bold
    margin-bottom: 0.1em

    abbr
      border-bottom: 0
      color: $red

  .input.boolean label
    display: inline

  div.input
    margin-bottom: 0.75em

    .hint
      display: block
      color: $quiet-color
      margin-top: 0.5em
      font-size: $blueprint-font-size-small

  input[type=text],
  input[type=email],
  input[type=password],
  textarea
    width: 36em
    padding: 0.5em
    border: 0
    background: #fff
    font-family: $blueprint-font-family
    font-size: $blueprint-font-size

    @include border-radius(5px)
    border: 1px solid $silver
    border-color: lighten($silver, 10) $silver $silver lighten($silver, 10)
    // +box-shadow(rgba(0, 0, 0, 0.1) 1px 1px 1px inset)

    &:focus
      border-color: lighten($cta-color, 45%)
      background-color: #fff
      outline: none

      +box-shadow(rgba($cta-color, 0.4) 0 0 8px)

  input[type=checkbox],
  input[type=radio]
    margin: 0
    margin-right: 5px

  textarea
    height: 5em

  input[type=url], input[type=email]
    @extend input[type=text]

  input[type=submit]
    +button

a#backlink
  margin-left: 15px
  +button-quiet
  +small-button

  &:before
    content: '◄ '