@import "base"
@import "blueprint/form"

$input-width: 500px
$textarea-height: 150px

form
  +blueprint-form-layout
  +blueprint-form-borders
  +blueprint-form-sizes
  &.wide
    +blueprint-form-sizes($input-width: $input-width, $textarea-width: $input-width, $textarea-height: $textarea-height)
  label
    display: block
  .input.boolean label
    display: inline

  input[type=text], input[type=password], textarea, ul.tagbox
    font-family: $blueprint-font-family
    font-size: $blueprint-font-size * 1.1
    max-width: 100%
    +box-sizing(border-box)

  input[type=url], input[type=email]
    @extend input[type=text]

  .actions
    margin: 10px 0

  .alert
    margin-bottom: 10px
    color: #e00

  .field_with_errors
    input
      border-color: #e00
      background-color: #fee
    .error
      display: inline-block
      color: #e00
      margin-bottom: 8px
      margin-left: 5px

