@import blueprint/typography
@import blueprint/interaction
@import "compass/typography/lists"

// $blueprint-font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
// $blueprint-fixed-font-family: "andale mono", "lucida console", monospace
// $blueprint-font-size: 12px
// $link-color: blue
// $link-hover-color: blue
// $link-visited-color: blue
$link-disabled-color: #999999

$tag-background-color: #efefef
$tag-color: #333

+blueprint-typography

body
  background-color: white
  padding-top: 10px

#main, #header
  +container

#logo
  +columns(2)

#navigation
  +columns(7)

#account-nav
  +columns(3)

#content
  +columns(9)

#sidebar
  +columns(3)

#avatar
  float: left

#flash_notice
  +success

#flash_error
  +error

a
  text-decoration: none

#navigation
  ul
    +horizontal-list-container
    li
      +no-bullet
      white-space: no-wrap
      +float(left)
      a
        padding: 1em .5em
        display: block