@mixin regrid($grid-widthx, $grid-gutterx: 10px, $textarea-height: 5em)
  $grid-columns: 12
  $grid-gutter: $grid-gutterx
  $grid-width: $grid-widthx
  @include grid-reinit

  form
    textarea
      height: $textarea-height

  #main
    padding-top: 5px

  #logo
    +columns(3)

  #navigation
    +columns(3 + 3)

  #account-nav
    +columns(3)

  #sidebar
    +columns(3)

  #content
    +columns(9)

  #logo, #navigation, #account-nav, #content, #sidebar
    margin-left: $grid-gutter
    margin-right: $grid-gutter

@media screen and (max-width: 980px) and (min-width: 768px)
  +regrid($grid-widthx: 700px)

  #logo
    +columns(3)

  #navigation
    +columns(6)

  #account-nav
    +columns(3)
    a
      .pre
        display: none

@media screen and (min-width: 480px) and (max-width: 767px)
  +regrid($grid-widthx: 460px, $textarea-height: 3em)

  #logo
    display: none

  #content
    +columns(12)

  #sidebar
    +columns(12)

  #account-nav,
  #navigation
    +columns(6)

  #account-nav
    .inner
      float: right

  #navigation
    ul
      margin: 0
    li.add-bookmark
      float: none
      margin-left: 0

@media screen and (max-width: 479px)
  +regrid(290px, 5px, 3em)

  #logo
    display: none

  #content
    +columns(12)

  #sidebar
    +columns(12)

  #account-nav,
  #navigation
    +columns(6)
    a
      .pre
        display: none

  #navigation
    ul
      margin: 0
    li.add-bookmark
      float: none
      margin-left: 0

  section.bookmark
    .description
      padding-right: 0