@mixin tag()
  @extend a
  display: inline-block
  padding: 0 5px
  margin: 0
  margin-bottom: 3px
  border: 1px solid darken(#dee7f8, 8%)
  +border-radius(2px)
  background: #dee7f8
  color: $link-color

  &:hover
    @extend a:hover

ul.tags
  margin: 0
  padding: 0
  list-style: none

  > li
    a
      +tag