@mixin tag()
  display: inline-block
  padding: 0 3px
  margin: 0
  border: 1px solid darken($tag-background-color, 8%)
  +border-radius(2px)
  background: $tag-background-color
  color: $tag-color

ul.tags
  margin: 0
  padding: 0
  list-style: none

  > li
    a
      +tag
      margin-bottom: 4px

form ul.tagbox
  li.tag
    +tag
